Smart Sprikler.txt
[{"id":"80fb1765.8bbe78","type":"tab","label":"Smart Sprinkler","disabled":false,"info":""},{"id":"433201cf.1129a","type":"ibmiot in","z":"80fb1765.8bbe78","authentication":"apiKey","apiKey":"1e3276b1.c354c9","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"80744","applicationId":"","deviceType":"raspberrpi","eventType":"DHT11","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":90,"y":700,"wires":[["500f96f4.50e398","ab051cf5.25348","97189f08.87261"]]},{"id":"500f96f4.50e398","type":"function","z":"80fb1765.8bbe78","name":"temperature","func":"global.set(\"T\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":640,"wires":[["697ffdb9.cd66f4","a6ffb3d3.a64b7"]]},{"id":"697ffdb9.cd66f4","type":"debug","z":"80fb1765.8bbe78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":680,"wires":[]},{"id":"ab051cf5.25348","type":"function","z":"80fb1765.8bbe78","name":"humidity","func":"global.set(\"H\",msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":740,"wires":[["697ffdb9.cd66f4","55dd0456.8973ec"]]},{"id":"97189f08.87261","type":"function","z":"80fb1765.8bbe78","name":"soil moisture","func":"global.set(\"soilmoisture\",msg.payload.soilmoisture)\nmsg.payload=msg.payload.soilmoisture\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":860,"wires":[["697ffdb9.cd66f4","9712ce36.6e458","23744782.6b6bb8"]]},{"id":"a6ffb3d3.a64b7","type":"ui_gauge","z":"80fb1765.8bbe78","name":"Temperature","group":"479e2267.da2a3c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":620,"wires":[]},{"id":"55dd0456.8973ec","type":"ui_gauge","z":"80fb1765.8bbe78","name":"Humidity","group":"a122e0ba.e997a","order":0,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"H","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":760,"wires":[]},{"id":"9712ce36.6e458","type":"ui_gauge","z":"80fb1765.8bbe78","name":"Moisture Content","group":"7ec84375.d572fc","order":0,"width":0,"height":0,"gtype":"compass","title":"Soil Moisture","label":"W","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":880,"wires":[]},{"id":"23744782.6b6bb8","type":"switch","z":"80fb1765.8bbe78","name":"condition checking","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"num"},{"t":"gte","v":"41","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":960,"wires":[["a12679d1.d6c6b8"],["ac8841b1.bf552"]]},{"id":"a12679d1.d6c6b8","type":"function","z":"80fb1765.8bbe78","name":"MOTOR ON","func":"msg.payload=\"SOIL IS DRY ....PLEASE TURN ON THE MOTOR\"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":940,"wires":[["5fa9d07c.4327c"]]},{"id":"ac8841b1.bf552","type":"function","z":"80fb1765.8bbe78","name":"MOTOR OFF","func":"msg.payload=\"SOIL IS WET ....LET THE MOTOR BE TURN OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1020,"wires":[["5fa9d07c.4327c"]]},{"id":"5fa9d07c.4327c","type":"ui_text","z":"80fb1765.8bbe78","group":"372c2823.06f978","order":0,"width":0,"height":0,"name":"","label":"Motor Status","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":980,"wires":[]},{"id":"9808000e.2e94d","type":"http in","z":"80fb1765.8bbe78","name":"","url":"/motor","method":"get","upload":false,"swaggerDoc":"","x":230,"y":1440,"wires":[["29e5de2f.50d5e2"]]},{"id":"fa4ffbd8.d90d18","type":"http response","z":"80fb1765.8bbe78","name":"","statusCode":"","headers":{},"x":690,"y":1440,"wires":[]},{"id":"29e5de2f.50d5e2","type":"function","z":"80fb1765.8bbe78","name":"For Response Parsing","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1440,"wires":[["fa4ffbd8.d90d18","2dc5aefb.b29f42"]]},{"id":"2dc5aefb.b29f42","type":"ibmiot out","z":"80fb1765.8bbe78","authentication":"apiKey","apiKey":"1e3276b1.c354c9","outputType":"cmd","deviceId":"80744","deviceType":"raspberrpi","eventCommandType":"DHT11","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":1300,"wires":[]},{"id":"c2c19472.3de848","type":"ui_button","z":"80fb1765.8bbe78","name":"","group":"1c1744de.73377b","order":8,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"str","topic":"","x":390,"y":1340,"wires":[["2dc5aefb.b29f42","9d526663.587bb8"]]},{"id":"e41a0119.ef439","type":"ui_button","z":"80fb1765.8bbe78","name":"","group":"37f488cd.978838","order":0,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"str","topic":"","x":370,"y":1220,"wires":[["2dc5aefb.b29f42","9d526663.587bb8"]]},{"id":"bda6f4cf.fb0958","type":"http in","z":"80fb1765.8bbe78","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":230,"y":1120,"wires":[["6d54eba2.ad7b34"]]},{"id":"c3522dad.81932","type":"http response","z":"80fb1765.8bbe78","name":"","statusCode":"","headers":{},"x":650,"y":1120,"wires":[]},{"id":"6d54eba2.ad7b34","type":"function","z":"80fb1765.8bbe78","name":"For Mobile App","func":"msg.payload={\"Temperature\":global.get(\"T\"),\"Humidity\":global.get(\"H\"),\"soilmoisture\":global.get(\"soilmoisture\")}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1140,"wires":[["c3522dad.81932"]]},{"id":"9d526663.587bb8","type":"debug","z":"80fb1765.8bbe78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":1220,"wires":[]},{"id":"1e3276b1.c354c9","type":"ibmiot","z":"","name":"api","keepalive":"60","serverName":"6i69ba.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"479e2267.da2a3c","type":"ui_group","z":"","name":"Temperature","tab":"cc04d334.a7ff","order":1,"disp":true,"width":"6","collapse":false},{"id":"a122e0ba.e997a","type":"ui_group","z":"","name":"Humidity","tab":"cc04d334.a7ff","order":2,"disp":true,"width":"6","collapse":false},{"id":"7ec84375.d572fc","type":"ui_group","z":"","name":"Soil Moisture","tab":"cc04d334.a7ff","order":3,"disp":true,"width":"6","collapse":false},{"id":"372c2823.06f978","type":"ui_group","z":"","name":"MOTOR STATUS","tab":"cc04d334.a7ff","order":4,"disp":true,"width":"6","collapse":false},{"id":"1c1744de.73377b","type":"ui_group","z":"","name":"MOTOR OFF","tab":"cc04d334.a7ff","order":7,"disp":true,"width":"6","collapse":false},{"id":"37f488cd.978838","type":"ui_group","z":"","name":"Motor ON","tab":"cc04d334.a7ff","order":6,"disp":true,"width":"6","collapse":false},{"id":"cc04d334.a7ff","type":"ui_tab","z":"","name":"SMART SPINKLER IN GOLF COURSE","icon":"dashboard","disabled":false,"hidden":false}]